doctype html 
html(class=(typeof user !== 'undefined' && user.dark_mode ? 'dark-mode' : ''))
    head 
        title= title 
        meta(name='viewport' content='width=device-width, initial-scale=1.0')

        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href=style)

        link(rel='icon' type='image/svg+xml' href='/assets/logo-favicon.svg')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
        
        block scripts
            //- script.
            //-     function navClick(a) {
            //-         a.classList.toggle("change");
            //-         var x = document.getElementById("links");

            //-         if (x.style.display === "block") {
            //-             x.style.display = "none";
            //-         } else {
            //-             x.style.display = "block";
            //-         }
            //-     }
    body 
        ul.navBar 
            li
                a(href='/profile')
                    img.pfp(src='/assets/pfp.png' alt='profile picture')
            li 
                a(href='/') Home
            li 
                a(href='/list-plot') Create Listing
            li
                a(href='/bulletin') Bulletin Board


        //- a.icon(href='javascript:void(0);' onclick='myFunction()')
        //-     i.fa.fa-bars
        block content
           