extends layout 
block scripts 
    link(rel='stylesheet' href='/stylesheets/listPlot.css')
block content 
    header 
    body 
    main 
        h1 #{title}
        form(action="#", method="POST") 
            fieldset 
                input#placeName(type="text" name="placeName" required='' placeholder="Place name")
            h2 Contact info:
            fieldset 
                input#address(type="text" name="address" required='' placeholder="Address")
            fieldset 
                input#postcode(type="text" name="postcode" required='' placeholder="Postcode")
            fieldset 
                input#email(type="email" name="email" required='' placeholder="Email")
            fieldset 
                input#phone(type="tel" name="phone" required='' placeholder="Phone number" pattern="[0-9]{11}")
            h2 Opening hours: 
            fieldset 
                input#startTime(type="time" name="startTime" required='')
            p TO
            fieldset 
                input#endTime(type="time" name="endTime" required='')
            h2 By checking this box you acknowledge that:
            fieldset
                legend 
                    | At no time does Ladywood Spaces accept any legal responsibility for your growing space, nor relation between landowner and growers.
                    br 
                    | If you are growing at a space open to the public or as part of a group, it is your responsibility to assess the need for and purchase public liability insurance for your growing site.
                    br 
                    | We would also advise you carry out relevant risk assessments and health and safety checks, including testing for soil contamination as and where required.
                    br 
                    | Ladywood Spaces accepts no responsibility for any incidents or accidents that occur in relation to your growing site.
                input#legal(type="checkbox" name="legal" required='')
            input.submit(type="submit" value="List plot")
        p.error #{error}