extends layout 
block scripts 
    link(rel='stylesheet' href='/stylesheets/login.css')
block content 
    header 
    body 
    main 
        h1 #{title}
        form(action="#", method="POST") 
            fieldset 
                input#username(type="text" name="username" required='' placeholder="Username")
            fieldset 
                input#password(type="password" name="password" required='' placeholder="Password")
            input.submit(type="submit" value="Sign in")
        p Don't have an account yet?
        form(action="/signup")
            input.submit(type="submit" value="Sign up")
        p.error #{error}
        p.signedUp #{signedUp}