extends layout 
block scripts 
    link(rel='stylesheet' href='/stylesheets/signup.css')
block content 
    header 
    body 
    main 
        div.toLogin
            a(href="/login") Back to login
        div.forms
            h1 #{title}
            form(action="#", method="POST") 
                fieldset 
                    input#email(type="email" name="email" required='' placeholder="Email")
                fieldset 
                    input#username(type="text" name="username" required='' placeholder="Username")
                fieldset 
                    input#password(type="password" name="password" required='' placeholder="Password")
                fieldset
                    legend Confirm password:
                    input#confirmpassword(type="password" name="confirmpassword" required='' placeholder="Enter password again")
                input.submit(type="submit" value="Sign up")
            p.error #{error}
            if fieldErrors
                each fieldError in fieldErrors
                    p.error= fieldError