.bulletinPosts{
    height: 400px;
    overflow: scroll;
    padding-right: 15px;
    position: relative;
}

ul{
    padding: 0;
}

#bulletinBoardFieldset{
    padding-right: 5px;
    margin-bottom: 5%;
    border: solid 2px;
    border-radius: 25px;
    background-color: #C8CEA1;
}

#bulletinBoardTitle{
    text-align: center;
}

#makePostForm .formRow{
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: start;
}

#makePostForm textarea{
    resize: none;
    width: 30%;
    height: 100px;
    border-radius: 15px;
    border: 0.5px #130208;
}


#makePostForm input[type="text"],
#makePostForm input[type="date"],
#makePostForm input[type="time"], 
#makePostForm select{
    width: 30%;
    border-radius: 15px;
    border: 0.5px #130208;
}

#makePostBtn{
    position: relative;
    left: 18%;
    background-color: #C8CEA1;
    border-radius: 15px;
    border: 0.5px solid #130208;
    height: 20px;
    width: 60px;
}

#makePostBtn:hover{
    cursor: pointer;
}

fieldset{
    border: solid 2px;
    border-radius: 25px;
}


#individualPosts{
    background-color: #F7F8F2;
}

