h1{
    color: #19381F;
    font-weight: bold;
    font-family: source-sans-3;
    align-items: center;
}

html{
    background-color: #F7F8F2;
    align-content: center;
}

body {
    color: #130208;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px 30px 30px 30px;
}

h2{
    color: #19381F;
    font-weight: bold;
    font-family: source-sans-3;

}

.containers{
    border: solid #749C75 2px;
    border-radius:25px;
    display: flex;
    align-items: flex-start;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px
}




#map-container{
    height: 800px;
    width: 1000px;
    margin: 0 auto;
    border: solid #19381F 5px;
    border-radius: 25px;
}

#external-links{
    background-color: #749C75;
    border-radius: 25px;
    padding: 20px 20px 20px 20px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.links{
    background-color: #C8CEA1;
    border-color: #19381F;
    border-radius: 10px;
    border: solid;
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h3{
    color: #19381F;
    font-weight: bold;
    font-family: source-sans-3;

}