/* text stuff, just remove when style.css is done */
body {
    color: #19381F;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Main page content */
div {
    display:flex;
    align-items: flex-start;
    border: solid #000 2px;
    border-radius: 25px;
}


/* Info Box */
#placeInfo {
    display: block;
    border: none;
    margin-left:2%;
}

#contactBox {
    display:block;
    width: 20%;
    margin: 2% 5% 2% auto;
    background-color: #749C75;
}

#contactBox p, #contactBox h3 {
    margin-left: 5%;
}


/* Growing Here Box */
#growingHere {
    justify-content:space-between;
}

.plantType {
    display: block;
    width: 30%;
    margin: 5% 7%;
    background-color: #749C75;
}

.plantType h4 {
    text-align: center;
}


/* Pop-up Buttons */
#buttonHolder {
    justify-content: space-between;
    margin-top: 2%;
    border:none
}

#buttonHolder button {
    width: 30%;
    height:75px;
    margin: auto 15%;
    border-radius: 20px;
    background-color: #c8cea1;
}


/* Popup Stuff */
.popup { 
    display: none;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 70%;
    color: #000;
}

.popup label, .popup input, .popup select {
    display: block;
}

#logClose, #viewClose {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 7%;
    height: 7%;
    border-radius: 50px;
}


/* Log Pop-up */
#logDiv {
    background-color: #c8cea1
}

#logDiv h1 {
    margin-left: 4%;
}

#logDiv form {
    position: absolute;
    height: 85%;
    width: 96%;
    top: 15%;
    left: 4%;
}

#logConfirm {
    background-color: #749C75;
    position: absolute;
    bottom: 2%;
    right: 4%;
    width: 28%;
    height: 14%;
    border-radius: 40px;
}


/* View pop-up */
#viewDiv {
    background-color: #749C75;
}

#viewDiv ul, #viewDiv h1 {
    width: 40%;
    margin-left: 4%;
}

#viewDiv form {
    width: 35%;
    height: 85%;
    position: absolute;
    right: 0%;
    top: 15%;
    margin: auto 2% auto auto;
}

#viewConfirm {
    background-color: #c8cea1;
    position:absolute;
    width: 80%;
    height:15%;
    right: 5%;
    bottom: 2%;
    border-radius: 40px;
}