:root{
        --background: #F0F0F0;
        --box: #C8CEA1;

}

:root.dark-mode{
    --background: #1d191d;

}

main {
    height: 90vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    margin: auto;
    border-radius: 15px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--box);
    padding: 50px 80px 50px 80px;
    border-radius: 15px;
}

input {
    border-radius: 15px;
    border: 0.5px #130208;
    padding: 5px 25px 5px 25px;
}

.submit {
    background-color: #C8CEA1;
    border-radius: 15px;
    border: 0.5px solid #130208;
    padding: 6px 20px;
    width: 120px;
    text-align: center;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

fieldset {
    border: 0px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    color: red;
}

.btn {
    background-color: #749C75;
    border-radius: 25px;
    padding: 6px 20px;
    width: 120px;
    text-align: center;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}


.dropdown {
    border-radius: 15px;
    border: 0.5px #130208;
    padding: 5px 25px 5px 25px;
    background-color: white;
}

.textbox {
    border-radius: 15px;
    border: 0.5px #130208;
    padding: 5px 25px 5px 25px;
    background-color: white;
}